
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Online Resource Evaluation System (ORES)</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

    <div class="row">
        <div class="col-lg-12">
            <p>The Resource Evaluation System, referred to as Evaluation System from here in after, deals with the Evaluation of Resource Persons in any given organization. The Evaluation factor in any organization is a key factor in determining the success status of that organization and also setting up new success targets. The Evaluation System targets the Educational Section as well as Business section where appraisals are solely based on the evaluation of the resource persons. Currently, there is only a little number of organizations that are using automated systems for the evaluation of their resource persons. This application will help them quickly access the evaluation details of any given resource in order to make timely decisions which will ultimately lead them towards success.</p>
            <h3>Goals</h3>
            <ul>
                <li>
                    Eliminating Paper work
                </li>
                <li>
                    Automate the manual resource evaluation system
                </li>
                <li>
                    To reduce human effort
                </li>
                <li>
                    Ease of access
                </li>
                <li>
                    Assist in-timely and accurate decisions
                </li>
                <li>
                    Permanent source of records
                </li>
                <li>
                    One Click performance indicator
                </li>
                <li>
                    Customizable
                </li>
            </ul>
        </div>
        <!-- /.col-lg-12 -->
    </div>

</div>

